{% extends "base.html" %}
{% block base %}

<nav class="navbar navbar-inverse navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid_1">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="http://www.51talk.com">CCIMP--51Talk</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">Settings</a></li>-->
                <li>
                    <span class="loginWelcomeName">欢迎,{{ username }}同学！
                        <a href="/logout/">
                            <span>&nbsp;&nbsp;logout</span>
                        </a>
                    </span>
                </li>
            </ul>
            <!--<form class="navbar-form navbar-right">-->
                <!--<input type="text" class="form-control" placeholder="Search..." disabled="disabled">-->
            <!--</form>-->
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="width:150px;">
            <ul class="nav nav-sidebar">

                <div class="leftMenu">
                    <!--<div class="topMenu" id="topMenu1">-->
                        <!--<img class="banshi" src="img/banshidating.png" />-->
                        <!--<p class="menuTitle">51TALK</p>-->
                        <!--<img class="changeMenu" src="img/shouqicaidan.png" onClick="hidMenu()">-->
                    <!--</div>-->
                    <div class="menu_list">

                        <ul>

                            {% if type_option_admin == "permission_sap" or type_option_project == "permission_sap_pp" %}

                                <li class="">
                                    <p class="fuMenu">项目管理</p>
                                    <img class="xiala" src="/static/image/xiala.png">
                                    <div class="div1" id="div11" style="display: block;">
                                        <a href="/project/">
                                            <p class="zcd" id="zcd1">
                                                <i class="glyphicon glyphicon-th-large"></i>
                                                <span>项目管理</span>
                                            </p>
                                        </a>
                                    </div>
                                </li>

                            {% endif %}

                            <li class="">
								<p class="fuMenu">模块管理</p>
								<img class="xiala" src="/static/image/xiala.png">
								<div class="div1" id="div12">
									<a href="/module/">
                                        <p class="zcd" id="zcd2">
                                            <i class="glyphicon glyphicon-th"></i>
                                            <span>模块管理</span>
                                        </p>
                                    </a>
								</div>
							</li>

							<li class="">
								<p class="fuMenu">用例管理</p>
								<img class="xiala" src="/static/image/xiala.png">
								<div class="div1" id="div13">
									<a href="/testcase/ui_function/">
                                        <p class="zcd" id="zcd3">
                                            <i class="glyphicon glyphicon-briefcase"></i>
                                            <span>UI自动化用例</span>
                                        </p>
                                    </a>
									<a href="/testcase/interface_case/">
                                        <p class="zcd" id="zcd4">
                                            <i class="glyphicon glyphicon-briefcase"></i>
                                            <span>接口用例</span>
                                        </p>
                                    </a>
								</div>
							</li>

							<li class="">
								<p class="fuMenu">报告管理</p>
								<img class="xiala" src="/static/image/xiala.png">
								<div class="div1" id="div14">
									<a href="/report/">
                                        <p class="zcd" id="zcd5">
                                            <i class="glyphicon glyphicon-th-list"></i>
                                            <span>报告管理</span>
                                        </p>
                                    </a>
								</div>
							</li>


                            {% if type_option_admin == "permission_sap" %}

                                <li class="">
                                    <p class="fuMenu">权限管理</p>
                                    <img class="xiala" src="/static/image/xiala.png">
                                    <div class="div1" id="div15">
                                        <a href="/permission/">
                                            <p class="zcd" id="zcd6" >
                                                <i class="glyphicon glyphicon-user"></i>
                                                <span>用户权限</span>
                                            </p>
                                        </a>
                                        <a href="/permission/class/">
                                            <p class="zcd" id="zcd7">
                                                <i class="glyphicon glyphicon-inbox"></i>
                                                <span>权限分类</span>
                                            </p>
                                        </a>
                                    </div>
                                </li>

                            {% endif %}

                            <li class="">
								<p class="fuMenu">工具管理</p>
								<img class="xiala" src="/static/image/xiala.png">
								<div class="div1" id="div16">
									<a href="#">
                                        <p class="zcd" id="zcd8">
                                            <i class="glyphicon glyphicon-th-list"></i>
                                            <span>老师开课</span>
                                        </p>
                                    </a>

                                    <a href="#">
                                        <p class="zcd" id="zcd9">
                                            <i class="glyphicon glyphicon-th-list"></i>
                                            <span>学员约课</span>
                                        </p>
                                    </a>

                                    <a href="/tool/sale_order/">
                                        <p class="zcd" id="zcd10">
                                            <i class="glyphicon glyphicon-shopping-cart"></i>
                                            <span>售卖下单</span>
                                        </p>
                                    </a>

									<a href="#">
                                        <p class="zcd" id="zcd11">
                                            <i class="glyphicon glyphicon-th-list"></i>
                                            <span>订单退款</span>
                                        </p>
                                    </a>

                                    <a href="/tool/user_info/">
                                        <p class="zcd" id="zcd12">
                                            <i class="glyphicon glyphicon-user"></i>
                                            <span>学员信息</span>
                                        </p>
                                    </a>
								</div>
							</li>

							<li class="">
								<p class="fuMenu">系统设置</p>
								<img class="xiala" src="/static/image/xiala.png">
								<div class="div1" id="div17">
									<a href="#">
                                        <p class="zcd" id="zcd13">
                                            <i class="glyphicon glyphicon-cog"></i>
                                            <span>系统设置</span>
                                        </p>
                                    </a>
								</div>
							</li>

                        </ul>
                    </div>
                </div>
            </ul>
        </div>
        <div style="margin-left: 135px;" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <!--项目列表-->
            {% if type == "list" %}

            <form class="project" method="get" name="project-page" action="search">
                <input type="text" name="search_name" placeholder="搜索项目名称">
                <button class="btn btn-primary" type="submit">搜索项目</button>
            </form>


            <h3 class="sub-header">项目列表
                <button class="btn btn-primary" name="submit" style="float:right;"
                        onclick="location.href='/project/add_project/'">创建项目</button>
            </h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>

                        <tr style="text-align: center">
                            <th>id</th>
                            <th>项目名称</th>
                            <th>项目描述</th>
                            <th>项目状态</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for project in projects %}

                        <tr>
                            <td>{{ project.id }}</td>
                            <td>{{ project.name }}</td>
                            <td>{{ project.describe }}</td>

                            {% if project.status == 0 %}

                                <td>禁用</td>

                            {% elif project.status == 1 %}

                                <td>开启</td>

                            {% elif project.status == 2 %}

                                <td>进行中</td>

                            {% elif project.status == 3 %}

                                <td>已完成</td>

                            {% elif project.status == 4 %}

                                <td>暂停</td>

                            {% endif %}

                            <td>{{ project.create_time | date:"Y-m-d H:i:s" }}</td>
                            <td>{{ project.update_time | date:"Y-m-d H:i:s" }}</td>

                            <td>

                                <a href="/project/edit_project/{{ project.id }}/">
                                    <i class="glyphicon glyphicon-pencil">编辑</i>
                                </a>

                                <a href="/project/delete_project/{{ project.id }}/" style="margin-left:20px;"
                                          onclick="return project_del()">
                                    <i class="glyphicon glyphicon-trash">删除</i>
                                </a>
                                <!--<button type="submit" name="">查看报告</button>-->
                            </td>

                        </tr>

                        {% endfor %}

                        <!--{% csrf_token %}-->
                    </tbody>
                </table>
                <div style="text-align: center;color:red">{{ error }}</div>
                <div style="text-align: center;color:red">{{ search_error }}</div>
                <div style="text-align: center;color:red">{{ not_projects_data }}</div>
            </div>

            {% endif %}

            <!--项目创建-->
            {% if type == "add" %}

                {% block projectAdd %}

                {% endblock %}

            {% endif %}

            <!--项目编辑-->
            {% if type == "edit" %}

                {% block projectEdit %}

                {% endblock %}

            {% endif %}

            <!--分页器-->
            <div style="text-align: center;">
               <nav aria-label="Page navigation">
                  <ul class="pagination">

                      {% if projects %}

                          {% if search_name %}

                              <li>
                                  <a href="?search_name={{ search_name }}&page={{ page_num }}" aria-label="Previous">
                                      <span aria-hidden="true">首页</span>
                                  </a>
                              </li>

                          {% else %}

                              <li>
                                  <a href="?page={{ page_num }}" aria-label="Previous">
                                      <span aria-hidden="true">首页</span>
                                  </a>
                              </li>

                          {% endif %}


                          {% if projects.has_previous %}

                              {% if search_name %}

                                  <li>
                                      <a href="?search_name={{ search_name }}&page={{ projects.previous_page_number}}" aria-label="Previous">
                                          <span aria-hidden="true">&laquo;</span>
                                      </a>
                                  </li>

                              {% else %}

                                  <li>
                                      <a href="?page={{ projects.previous_page_number}}" aria-label="Previous">
                                          <span aria-hidden="true">&laquo;</span>
                                      </a>
                                  </li>

                              {% endif %}

                          {% else %}

                              <li class="disabled">
                                      <a href="#" aria-label="Next">
                                          <span aria-hidden="true">&laquo;</span>
                                      </a>
                              </li>

                          {% endif%}


                          {% for p1 in paginator_num_pages_array_ %}

                              {% if projects.has_previous %}

                                  {% if search_name %}

                                      {% if p1 == projects.number %}

                                          <li class="active">

                                              <a href="?search_name={{ search_name }}&page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% else %}

                                          <li>

                                              <a href="?search_name={{ search_name }}&page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% endif %}


                                  {% else %}

                                      {% if p1 == projects.number %}

                                          <li class="active">

                                              <a href="?page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% else %}

                                          <li>

                                              <a href="?page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% endif %}

                                  {% endif %}

                              {% else %}

                                  {% if search_name %}

                                      {% if p1 == projects.number %}

                                          <li class="active">

                                              <a href="?search_name={{ search_name }}&page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% else %}

                                          <li>

                                              <a href="?search_name={{ search_name }}&page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% endif %}

                                  {% else %}

                                      {% if p1 == projects.number %}

                                          <li class="active">

                                              <a href="?page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% else %}

                                          <li>

                                              <a href="?page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% endif %}

                                  {% endif %}

                              {% endif %}

                          {% endfor %}


                          {% if projects.has_next %}

                              {% if search_name %}

                                  <li>
                                      <a href="?search_name={{ search_name }}&page={{ projects.next_page_number}}" aria-label="Previous">
                                          <span aria-hidden="true">&raquo;</span>
                                      </a>
                                  </li>

                              {% else %}

                                  <li>
                                      <a href="?page={{ projects.next_page_number}}" aria-label="Previous">
                                          <span aria-hidden="true">&raquo;</span>
                                      </a>
                                  </li>

                              {% endif %}

                          {% else %}

                              <li class="disabled">
                                      <a href="#" aria-label="Next">
                                          <span aria-hidden="true">&raquo;</span>
                                      </a>
                              </li>

                          {% endif%}

                          {% if search_name %}

                              <li>
                                  <a href="?search_name={{ search_name }}&page={{ paginator_num_pages }}" aria-label="Previous">
                                      <span aria-hidden="true">末页</span>
                                  </a>
                             </li>

                          {% else %}

                              <li>
                                  <a href="?page={{ paginator_num_pages }}" aria-label="Previous">
                                      <span aria-hidden="true">末页</span>
                                  </a>
                             </li>

                          {% endif %}

                      {% endif %}

                  </ul>

               </nav>

            </div>

        </div>

    </div>

</div>


<script type="text/javascript">

    // 项目删除js判断
    function project_del(){

        msg_ = confirm("确定要删除项目吗？");

        if (msg_ == true){

            return true;
        }

        else{

            return false;
        }
    };

</script>



{% endblock %}