<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />

	<!-- bootstrap.min.css -->
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

	<!-- 通用样式 -->
	<link rel="stylesheet" type="text/css" href="css/public.css">
	<!-- 动态菜单CSS -->
	<link rel="stylesheet" type="text/css" href="css/menu.css">

	<!-- jquery.min.js -->
	<script src="js/jquery.min.js"></script>

	<!-- bootstrap.min.js -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- 动态菜单JS -->
	<script type="text/javascript" src="js/menu.js"></script>


	<title>jQuery抽屉式菜单列表代码</title>
	<style>
		body{background-color: #f0f3f4}
	</style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid" style="background-color:#3c8dbc;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#" style="color:yellow">CCIMP--51Talk</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li style="margin-top: 16px;">
                    <span style="color:red;">欢迎,{{username }}！
                        <a href="/logout/">
                            <span style="color:salmon;margin-right: 5px;">&nbsp;&nbsp;logout</span>
                        </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 sidebar" style="width:140px;padding-left: 0px;">
            <ul class="nav nav-sidebar">
				<div class="leftMenu">
					<!--<div class="topMenu" id="topMenu1">-->
						<!--<img class="banshi" src="img/banshidating.png" />-->
						<!--<p class="menuTitle">51TALK</p>-->
						<!--<img class="changeMenu" src="img/shouqicaidan.png" onClick="hidMenu()">-->
					<!--</div>-->
					<div class="menu_list">
						<!--<ul>-->
							<li class="">
								<p class="fuMenu">项目管理</p>
								<img class="xiala" src="img/xiala.png"/>
								<div class="div1" id="div11">
									<a href="http://www.51talk.com/"><p class="zcd active" id="zcd1">项目管理</p></a>
								</div>
							</li>

							<li class="">
								<p class="fuMenu">模块管理</p>
								<img class="xiala" src="img/xiala.png"/>
								<div class="div1" id="div12">
									<a href="http://www.51talk.com/"><p class="zcd" id="zcd2">模块管理</p></a>
								</div>
							</li>

							<li class="">
								<p class="fuMenu">用例管理</p>
								<img class="xiala" src="img/xiala.png" />
								<div class="div1" id="div13">
									<a href="http://www.51talk.com/"><p class="zcd" id="zcd3">UI自动化用例</p></a>
									<a href="http://www.51talk.com/"><p class="zcd" id="zcd4">接口用例</p></a>
								</div>
							</li>

							<li class="">
								<p class="fuMenu">报告管理</p>
								<img class="xiala" src="img/xiala.png" />
								<div class="div1" id="div14">
									<a href="http://www.51talk.com/"><p class="zcd" id="zcd5">报告管理</p></a>
								</div>
							</li>

							<li class="">
								<p class="fuMenu">权限管理</p>
								<img class="xiala" src="img/xiala.png" />
								<div class="div1" id="div15">
									<a href="http://www.51talk.com/"><p class="zcd" id="zcd6" >用户权限</p></a>
									<a href="http://www.51talk.com/"><p class="zcd" id="zcd7">权限分类</p></a>
								</div>
							</li>

							<li class="">
								<p class="fuMenu">工具管理</p>
								<img class="xiala" src="img/xiala.png" />
								<div class="div1" id="div16">
									<p class="zcd" id="zcd8">老师开课</p>
									<p class="zcd" id="zcd9">学员约课</p>
									<p class="zcd" id="zcd10">售卖下单</p>
									<p class="zcd" id="zcd11">订单退款</p>
								</div>
							</li>

							<li class="">
								<p class="fuMenu">系统设置</p>
								<img class="xiala" src="img/xiala.png"/>
								<div class="div1" id="div17">
									<a href="http://www.51talk.com/"><p class="zcd" id="zcd12">系统设置</p></a>
								</div>
							</li>


						<!--</ul>-->
					</div>
				</div>
			</ul>
		</div>
	</div>
</div>

    <div class="container theme-showcase" role="main" style="text-align: center;width: auto">
       <div class="page-header"></div>
       <footer class="footer">
         <p>&copy; Company 2019, Author：&nbsp;<span style="color:blue">ZHANGBO</span></p>
       </footer>
    </div>

</body>
</html>