{% extends "base.html" %}
{% block base %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#">CCIMP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">Settings</a></li>-->
                <li style="margin-top: 16px;">
                    <span style="color:red;">欢迎,{{username }}！
                        <a href="/logout/">
                            <span style="color:salmon;margin-right: 5px;">&nbsp;&nbsp;logout</span>
                        </a>
                    </span>
                </li>
            </ul>
            <!--<form class="navbar-form navbar-right">-->
                <!--<input type="text" class="form-control" placeholder="Search..." disabled="disabled">-->
            <!--</form>-->
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="width:150px;">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="/project/">
                        <i class="glyphicon glyphicon-th-large"></i>&nbsp;&nbsp;项目管理
                    </a>
                </li>
                <li>
                    <a href="/module/">
                        <i class="glyphicon glyphicon-th"></i>&nbsp;&nbsp;模块管理
                    </a>
                </li>
                <li>
                    <a href="/testcase/">
                       <i class="glyphicon glyphicon-briefcase"></i>&nbsp;&nbsp;用例管理
                    </a>
                </li>
                <li>
                    <a href="/report/">
                       <i class="glyphicon glyphicon-th-list"></i>&nbsp;&nbsp;报告管理
                    </a>
                </li>

                {% if type_option_admin == "permission_sap" %}
                <li>
                    <li>
                        <a href="/permission/">
                            <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;用户权限
                        </a>
                    </li>
                    <li>
                        <a href="/permission/class/">
                            <i class="glyphicon glyphicon-inbox"></i>&nbsp;&nbsp;权限分类
                        </a>
                    </li>
                </li>
                {% endif %}

                <li class="active">
                    <a href="/tool/sale_order/">
                        <i class="glyphicon glyphicon-th-list"></i>&nbsp;&nbsp;工具管理
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="glyphicon glyphicon-th-list"></i>&nbsp;&nbsp;系统设置
                    </a>
                </li>
           </ul>
        </div>
        <div style="margin-left: 135px;" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h4 style="color: blue;">获取登录状态：
                <!--<button class="btn btn-primary" name="submit" style="float:right;"-->
                        <!--onclick="location.href='/permission/add_permission/'">创建权限</button>-->
            </h4><br>
            <!--<form class="permission" method="post" name="permission-page" action="search">-->
            <label>请输入登录手机号：</label>
            <input type="text" name="mobile_name" placeholder="手机号码" id="mobile_name">
            <label style="margin-left: 20px;">请输入登录密码：</label>
            <input type="text" name="password_name" placeholder="用户密码" id="password_name">
            <button class="btn btn-success" type="submit" id="userPackageDetail" style="margin-left: 20px;"
                    onclick="return userPackageDetail()">获取用户套餐详情</button>
            <!--</form>-->
            <br><br><br>

            <div id="hide_cancle" style="display: none">
                <h4 style="color: blue;">获取用户套餐详情：</h4><br>

                <div class="table-responsive">
                    <table class="table table-striped" id="myTablePlaceOrder">
                        <thead>

                            <tr style="text-align: center">
                                <th>序号</th>
                                <th>套餐编号</th>
                                <th>套餐名称</th>
                                <th>套餐价格</th>
                                <th>套餐类型</th>
                            </tr>

                        </thead>

                        <tbody></tbody>

                    </table>
                </div>
                <button class="btn btn-success" type="submit" style="margin-left: 20px;float: right;"
                        onclick="return saleOrder()">下单</button>
                <br><br><br>

                <h4 style="color: blue;">读取订单数据：</h4><br>

                <div class="table-responsive">
                    <table class="table table-striped" id="myTableGetOrderDetail">
                        <thead>

                            <tr style="text-align: center">
                                <th>序号</th>
                                <th>订单编号</th>
                                <th>套餐编号</th>
                                <th>订单金额</th>
                                <th>付款方式</th>
                                <th>订单类型</th>
                            </tr>

                        </thead>

                        <tbody></tbody>

                    </table>
                </div>
                <button class="btn btn-success" id="processOrder" type="submit" style="margin-left: 20px;float: right;"
                        onclick="return ProcessOrder()">处理订单</button>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">

</script>



{% endblock %}