.Lcentered{
    position:absolute;
    top:50%;
    left:50%;
    margin:-100px 0 0 -200px;
    width:350px;
    height:220px;
    background-color: #65a4d7;
}
.Mcentered{

    position:absolute;
    top:50%;
    left:50%;
    margin:-100px 0 0 -200px;
    width:350px;
    height:130px;
    background-color: crimson;
}
.Rcentered{
    position:absolute;
    top:40%;
    left:50%;
    margin:-100px 0 0 -200px;
    width:400px;
    height:320px;
    background-color: #65a4d7;
    /*background-color: #5bc0de;*/
}