
* { margin: 0; padding: 0; border: 0; }
html,body{
    margin: 0;
}
@-webkit-keyframes STAR-MOVE {
    from {
        background-position:0% 0%
    }
    to {
        background-position: 600% 0%
    }
}
 @keyframes STAR-MOVE {
    from {
        background-position: 0% 0%
    }
    to {
        background-position: 600% 0%
    }
}
.wall{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}
div#background{
    background: black url('/static/image/user_login_register_image/background.png') repeat-x 5% 0%;
    background-size: cover;
    -webkit-animation: STAR-MOVE  200s linear infinite;
    -moz-animation: STAR-MOVE  200s linear infinite;
    -ms-animation: STAR-MOVE  200s linear infinite;
    animation: STAR-MOVE  200s linear infinite;
}
div#midground{
    background:url('/static/image/user_login_register_image/midground.png')repeat 20% 0%;
    z-index: 1;
    -webkit-animation: STAR-MOVE  100s linear infinite;
    -moz-animation: STAR-MOVE  100s linear infinite;
    -ms-animation: STAR-MOVE  100s linear infinite;
    animation: STAR-MOVE  100s linear infinite;
}
div#foreground{
    background:url('/static/image/user_login_register_image/foreground.png')repeat 35% 0%;
    z-index: 2;
    -webkit-animation: STAR-MOVE  50s linear infinite;
    -moz-animation: STAR-MOVE  50s linear infinite;
    -ms-animation: STAR-MOVE  50s linear infinite;
    animation: STAR-MOVE  50s linear infinite;
}
