<!DOCTYPE html>
<!--<meta http-equiv='Content-type' content='text/htm'>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>灵猫智能造数据管理平台</title>
    {% load  static %}

    <!--jquery、bootstrap 在线CDN资源-->

    <!--<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>-->

    <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->

    <!--<link href="https://v3.bootcss.com/examples/dashboard/dashboard.css" rel="stylesheet">-->
    <!--<script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.12.4/jquery-1.12.4.min.js"></script>-->

    <!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <!--select 在线样式资源-->
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/css/bootstrap-select.min.css">-->
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/bootstrap-select.min.js"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/i18n/defaults-*.min.js"></script>-->

    <!--引用本地cs,js文件-->
    <script type="text/javascript" src='{% static "js/jquery/2.1.1/jquery.min.js" %}'></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/3.3.7/bootstrap.min.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/fonts/glyphicons-halflings-regular.ttf' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/fonts/glyphicons-halflings-regular.woff' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/fonts/glyphicons-halflings-regular.woff2' %}"/>

    <script type="text/javascript" src="{% static 'js/bootstrap/3.3.7/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/public_top.css' %}"/>

    <!--<script type="text/javascript" src='{% static "js/jquery-1.12.0.js" %}'></script>-->

    <script type="text/javascript" src='{% static "js/menu.js" %}'></script>

</head>

<body>

{% block base %}

{% endblock %}

<div class="container theme-showcase" role="main" style="text-align: center;width: auto;margin-top:500px;">
    <!--<div class="page-header"></div>-->
    <footer class="footer">
        <hr width=100% style="border:double #2e6da4;">
        <p>&copy; Company 2020, Author：&nbsp;<span style="color:blue">ZHANGBO</span></p><br>
        <hr width=100% style="border:double #2e6da4;">
        <!--<p class="link-word">-->
            <!--<em>友情链接</em>-->
        <!--</p>-->
        <!--<div style="text-align: left;margin-left: 250px;">-->
            <!--<a href="http://www.51talk.com" target="_blank">51Talk官网</a><span>|</span>-->
            <!--<a href="http://login.51talk.com/web/login" target="_blank">SSO登录</a><span>|</span>-->
            <!--<a href="http://login.51talk.com/web/register" target="_blank">SSO注册</a><span>|</span>-->
            <!--<a href="http://crm.51talk.com/admin/admin_login.php" target="_blank">CRM后台</a><span>|</span>-->
            <!--<a href="http://crm.51talk.com/Stu_List/index?is_buy=All&user_id=&student_id=&email=&skype_id=&qq=&agent=&submit=Search"-->
               <!--target="_blank">学员详情页</a><span>|</span>-->
            <!--<a href="http://172.16.0.237:8000/#/login" target="_blank">51Talk配置管理</a><span>|</span>-->
            <!--<a href="http://123.56.15.24:4567/mercury2.0/mercury_monitor" target="_blank">51Talk埋点后台</a><span>|</span>-->
            <!--<a href="http://vcs.51talk.com/users/sign_in" target="_blank">VCS仓库管理</a><span>|</span>-->
            <!--<a href="http://172.16.0.94:8013/login?redirect=%2Fdashboard" target="_blank">JAVA平台售卖系统</a><span>|</span>-->
            <!--<a href="http://sale.51talk.com/admin/product?_m=s" target="_blank">SALE售卖系统</a><span>|</span>-->
            <!--<a href="http://172.16.3.152:8088/login/" target="_blank" style="color:blue;">自动化页面检查</a><span>|</span><br><br>-->
        <!--</div>-->
   </footer>
</div>

<script type="text/javascript" src='{% static "js/saleOrderJs/userPackageDetail.js" %}'></script>
<script type="text/javascript" src='{% static "js/saleOrderJs/saleOrder.js" %}'></script>
<script type="text/javascript" src='{% static "js/saleOrderJs/processOrder.js" %}'></script>
<script type="text/javascript" src='{% static "js/saleOrderJs/userOnOrderDetail.js" %}'></script>
<script type="text/javascript" src='{% static "js/saleOrderJs/processOnOrder.js" %}'></script>

<script type="text/javascript" src='{% static "js/userIforJs/userInfoDetail.js" %}'></script>
<script type="text/javascript" src='{% static "js/userIforJs/userSmsContent.js" %}'></script>
<script type="text/javascript" src='{% static "js/userIforJs/userNickName.js" %}'></script>
<script type="text/javascript" src='{% static "js/userIforJs/accountStatus.js" %}'></script>
<script type="text/javascript" src='{% static "js/userIforJs/mobileStatus.js" %}'></script>
<script type="text/javascript" src='{% static "js/userIforJs/userIdentity.js" %}'></script>
<script type="text/javascript" src='{% static "js/userIforJs/courseStatus.js" %}'></script>
<script type="text/javascript" src='{% static "js/userIforJs/userRegister.js" %}'></script>
<script type="text/javascript" src='{% static "js/userIforJs/ssoIdentity.js" %}'></script>
<script type="text/javascript" src='{% static "js/userIforJs/ssoH5.js" %}'></script>

<script type="text/javascript" src="{% static 'js/appointRecord/appointRecordInfo.js' %}"></script>
<script type="text/javascript" src="{% static 'js/appointRecord/appointRecordEdit.js' %}"></script>


</body>


</html>