{% extends "base.html" %}
{% block base %}


{% include "common_top.html"%}

<div class="container-fluid">
    <div class="row">

        <!--包含common_left.html-->
        {% include "common_left.html"%}

        <div style="margin-left: 135px;" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h4 style="color: blue;text-align: center">友情链接</h4><br><br>

            <div class="row">
                <div class="col-xs-6 col-md-2">
                    <a href="http://www.51talk.com" class="thumbnail" target="_blank">51Talk官网</a>
                </div>

                <div class="col-xs-1 col-md-2">
                    <a href="http://login.51talk.com/web/login" class="thumbnail" target="_blank">SSO_pc登录</a>
                </div>

                <div class="col-xs-2 col-md-2">
                    <a href="http://login.51talk.com/web/register" class="thumbnail" target="_blank">SSO_pc注册</a>
                </div>

                <div class="col-xs-2 col-md-2">
                    <a href="https://login.51talk.com/wap/user#/login/register" class="thumbnail" target="_blank">SSO_注册/登录</a>
                </div>

                <div class="col-xs-1 col-md-2">
                    <a href="http://crm.51talk.com/admin/admin_login.php" class="thumbnail" target="_blank">CRM后台</a>
                </div>

                <div class="col-xs-1 col-md-2">
                    <a href="http://crm.51talk.com/Stu_List/index?is_buy=All&user_id=&student_id=&email=&s
                             kype_id=&qq=&agent=&submit=Search"
                        class="thumbnail" target="_blank">学员详情页</a>
                </div>

                <div class="col-xs-1 col-md-2">
                    <a href="http://172.16.0.237:8000/#/login" class="thumbnail" target="_blank">51Talk配置管理</a>
                </div>

                <div class="col-xs-1 col-md-2">
                    <a href="http://123.56.15.24:4567/mercury2.0/mercury_monitor" class="thumbnail" target="_blank">51Talk埋点后台</a>
                </div>

                <div class="col-xs-1 col-md-2">
                    <a href="http://vcs.51talk.com/users/sign_in" class="thumbnail" target="_blank">VCS仓库管理</a>
                </div>

                <div class="col-xs-1 col-md-2">
                    <a href="http://172.16.0.94:8013/login?redirect=%2Fdashboard" class="thumbnail" target="_blank">JAVA平台售卖系统</a>
                </div>

                <div class="col-xs-1 col-md-2">
                    <a href="http://sale.51talk.com/admin/product?_m=s" class="thumbnail" target="_blank">SALE售卖系统</a>
                </div>

                <div class="col-xs-1 col-md-2">
                    <a href="http://172.16.3.152:8088/login/" class="thumbnail" target="_blank" style="color:blue;">自动化页面检查</a>
                </div>

            </div>




        </div>
    </div>

</div>

<script>


</script>


{% endblock %}