{% extends "base.html" %}
{% block base %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#">CCIMP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">Settings</a></li>-->
                <li style="margin-top: 16px;">
                    <span style="color:red;">欢迎,{{username }}！
                        <a href="/logout/">
                            <span style="color:salmon;margin-right: 5px;">&nbsp;&nbsp;logout</span>
                        </a>
                    </span>
                </li>
            </ul>
            <!--<form class="navbar-form navbar-right">-->
                <!--<input type="text" class="form-control" placeholder="Search..." disabled="disabled">-->
            <!--</form>-->
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="width:150px;">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="/project/">
                        <i class="glyphicon glyphicon-th-large"></i>&nbsp;&nbsp;项目管理
                    </a>
                </li>
                <li>
                    <a href="/module/">
                        <i class="glyphicon glyphicon-th"></i>&nbsp;&nbsp;模块管理
                    </a>
                </li>
                <li>
                    <a href="/testcase/">
                       <i class="glyphicon glyphicon-briefcase"></i>&nbsp;&nbsp;用例管理
                    </a>
                </li>
                <li>
                    <a href="/report/">
                       <i class="glyphicon glyphicon-th-list"></i>&nbsp;&nbsp;报告管理
                    </a>
                </li>

                {% if type_option == "permission_sap" %}
                <li>
                    <li class="active">
                        <a href="/permission/">
                            <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;用户权限
                        </a>
                    </li>
                    <li>
                        <a href="/permission/class/">
                            <i class="glyphicon glyphicon-inbox"></i>&nbsp;&nbsp;权限分类
                        </a>
                    </li>
                </li>
                {% endif %}

                <li>
                    <a href="">
                        <i class="glyphicon glyphicon-th-list"></i>&nbsp;&nbsp;工具管理
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="glyphicon glyphicon-th-list"></i>&nbsp;&nbsp;系统设置
                    </a>
                </li>
           </ul>
        </div>
        <div style="margin-left: 135px;" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <!--用户权限列表-->
            {% if type == "list" %}

            <form class="permission" method="get" name="permission-page" action="search">
                <input type="text" name="search_name" placeholder="用户账户">
                <button class="btn btn-primary" type="submit">搜索用户</button>
            </form>
            <h3 class="sub-header">用户列表
                <!--<button class="btn btn-primary" name="submit" style="float:right;"-->
                        <!--onclick="location.href='/permission/add_permission/'">创建权限</button>-->
            </h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>

                        <tr style="text-align: center">
                            <th>id</th>
                            <th>账号</th>
                            <th>姓名</th>
                            <th>邮件</th>
                            <th>权限分类</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for user in users %}

                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.user_name }}</td>
                            <td>{{ user.real_name }}</td>
                            <td>{{ user.mail }}</td>

                            {% if user.permission_options == 1 %}

                                <td>超级管理员</td>

                            {% elif user.permission_options == 2 %}

                                <td>项目管理员</td>

                            {% elif user.permission_options == 3 %}

                                <td>模块管理员</td>

                            {% else %}

                                <td>普通管理员</td>

                            {% endif %}

                            <td>{{ user.create_time | date:"Y-m-d H:i:s" }}</td>
                            <td>{{ user.update_time | date:"Y-m-d H:i:s" }}</td>
                            <td>
                                <a href="/permission/edit_permission/{{ user.id }}/">
                                    <i class="glyphicon glyphicon-pencil">编辑</i>
                                </a>
                                <!--<a href="/permission/delete_permission/{{ permission.id }}/" style="margin-left:20px;"-->
                                          <!--onclick="return permission_del()">-->
                                    <!--<i class="glyphicon glyphicon-trash">删除</i>-->
                                <!--</a>-->
                                <!--<button type="submit" name="update-data"/>更新</button>-->
                                <!--<button type="submit" name="delete-data">删除</button>-->
                                <!--<button type="submit" name="">查看报告</button>-->
                            </td>

                        </tr>

                        {% endfor %}

                        <!--{% csrf_token %}-->
                    </tbody>
                </table>
                <div style="text-align: center;color:red">{{ error }}</div>
                <div style="text-align: center;color:red">{{ search_error }}</div>
            </div>

            {% endif %}

            <!--用户权限编辑-->
            {% if type == "edit" %}

                {% block permissionEdit %}

                {% endblock %}

            {% endif %}

            <!--分页器-->
            <div style="text-align: center;">
               <nav aria-label="Page navigation">
                  <ul class="pagination">

                      {% if users %}

                          {% if search_name %}

                              <li>
                                  <a href="?search_name={{ search_name }}&page={{ page_num }}" aria-label="Previous">
                                      <span aria-hidden="true">首页</span>
                                  </a>
                              </li>

                          {% else %}

                              <li>
                                  <a href="?page={{ page_num }}" aria-label="Previous">
                                      <span aria-hidden="true">首页</span>
                                  </a>
                              </li>

                          {% endif %}


                          {% if users.has_previous %}

                              {% if search_name %}

                                  <li>
                                      <a href="?search_name={{ search_name }}&page={{ users.previous_page_number}}" aria-label="Previous">
                                          <span aria-hidden="true">&laquo;</span>
                                      </a>
                                  </li>

                              {% else %}

                                  <li>
                                      <a href="?page={{ users.previous_page_number}}" aria-label="Previous">
                                          <span aria-hidden="true">&laquo;</span>
                                      </a>
                                  </li>

                              {% endif %}

                          {% else %}

                              <li class="disabled">
                                      <a href="#" aria-label="Next">
                                          <span aria-hidden="true">&laquo;</span>
                                      </a>
                              </li>

                          {% endif%}


                          {% for p1 in paginator_num_pages_array_ %}

                              {% if users.has_previous %}

                                  {% if search_name %}

                                      {% if p1 == users.number %}

                                          <li class="active">

                                              <a href="?search_name={{ search_name }}&page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% else %}

                                          <li>

                                              <a href="?search_name={{ search_name }}&page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% endif %}


                                  {% else %}

                                      {% if p1 == users.number %}

                                          <li class="active">

                                              <a href="?page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% else %}

                                          <li>

                                              <a href="?page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% endif %}

                                  {% endif %}

                              {% else %}

                                  {% if search_name %}

                                      {% if p1 == users.number %}

                                          <li class="active">

                                              <a href="?search_name={{ search_name }}&page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% else %}

                                          <li>

                                              <a href="?search_name={{ search_name }}&page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% endif %}

                                  {% else %}

                                      {% if p1 == users.number %}

                                          <li class="active">

                                              <a href="?page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% else %}

                                          <li>

                                              <a href="?page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% endif %}

                                  {% endif %}

                              {% endif %}

                          {% endfor %}


                          {% if users.has_next %}

                              {% if search_name %}

                                  <li>
                                      <a href="?search_name={{ search_name }}&page={{ users.next_page_number}}" aria-label="Previous">
                                          <span aria-hidden="true">&raquo;</span>
                                      </a>
                                  </li>

                              {% else %}

                                  <li>
                                      <a href="?page={{ users.next_page_number}}" aria-label="Previous">
                                          <span aria-hidden="true">&raquo;</span>
                                      </a>
                                  </li>

                              {% endif %}

                          {% else %}

                              <li class="disabled">
                                      <a href="#" aria-label="Next">
                                          <span aria-hidden="true">&raquo;</span>
                                      </a>
                              </li>

                          {% endif%}

                          {% if search_name %}

                              <li>
                                  <a href="?search_name={{ search_name }}&page={{ paginator_num_pages }}" aria-label="Previous">
                                      <span aria-hidden="true">末页</span>
                                  </a>
                             </li>

                          {% else %}

                              <li>
                                  <a href="?page={{ paginator_num_pages }}" aria-label="Previous">
                                      <span aria-hidden="true">末页</span>
                                  </a>
                             </li>

                          {% endif %}

                      {% endif %}

                  </ul>

               </nav>

            </div>

        </div>
    </div>

</div>


<script type="text/javascript">



</script>



{% endblock %}