{% extends "permission.html"%}

{% block permissionAdd %}

<h3>添加权限</h3>
<form class="form-horizontal" method="post" action="/permission/add_permission/">
    <fieldset>
        <div class="control-group">
            <label class="control-label" style="margin-top: 20px;">权限中文名：</label>
            <!--<div class="controls">-->
                <input type="text" name='permission_chine_name' class="input-xlarge"
                       style="margin-left: 8px;width:180px;">
                <span style="color:red">{{ name_error }}</span>
            <!--</div>-->
        </div>

        <div class="control-group">
            <label class="control-label" style="margin-top: 20px;">权限英文名：</label>
            <!--<div class="controls">-->
                <input type="text" name='permission_english_name' class="input-xlarge"
                       style="margin-left: 8px;width:180px;">
                <span style="color:red">{{ name_error }}</span>
            <!--</div>-->
        </div>

        <div class="control-group">
            <label class="control-label" style="margin-top: 20px;">权限类别：</label>
            <!--<div class="controls">-->
                <select name='permission_option' class="input-xlarge"
                       style="margin-left: 22px;width:180px;">

                    {% for permission_name in permissions_name %}

                        <option>{{ permission_name }}</option>

                    {% endfor %}

                </select>
                <span style="color:red">{{ name_error }}</span>
            <!--</div>-->
        </div>

        <div class="control-group" style="margin-left:20px;margin-top:40px;float: left">
            <div class="controls">
                <button style="margin-left: 40px;" class="btn btn-success">保存</button>
                <button style="margin-left: 20px;" onclick="javascript:this.form.action='/project/';"
                        class="btn btn-info">返回</button>
            </div>
        </div>
    </fieldset>
</form>


{% endblock %}