{% extends "base.html" %}
{% block base %}
{% include "common_top.html"%}

<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
    <!--<div class="container-fluid_1">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="http://www.51talk.com">CCIMP--51Talk</a>-->
        <!--</div>-->
        <!--<div id="navbar" class="navbar-collapse collapse">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--&lt;!&ndash;<li><a href="#">Settings</a></li>&ndash;&gt;-->
                <!--<li>-->
                    <!--<span class="loginWelcomeName">欢迎,{{ username }}同学！-->
                        <!--<a href="/logout/">-->
                            <!--<span>&nbsp;&nbsp;logout</span>-->
                        <!--</a>-->
                    <!--</span>-->
                <!--</li>-->
            <!--</ul>-->
            <!--&lt;!&ndash;<form class="navbar-form navbar-right">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="text" class="form-control" placeholder="Search..." disabled="disabled">&ndash;&gt;-->
            <!--&lt;!&ndash;</form>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

<div class="container-fluid">
    <div class="row">

        <!--包含common_left.html-->
        {% include "common_left.html"%}

        <!--<div class="col-sm-3 col-md-2 sidebar" style="width:150px;">-->
            <!--<ul class="nav nav-sidebar">-->

                <!--<div class="leftMenu">-->
                    <!--&lt;!&ndash;<div class="topMenu" id="topMenu1">&ndash;&gt;-->
                        <!--&lt;!&ndash;<img class="banshi" src="img/banshidating.png" />&ndash;&gt;-->
                        <!--&lt;!&ndash;<p class="menuTitle">51TALK</p>&ndash;&gt;-->
                        <!--&lt;!&ndash;<img class="changeMenu" src="img/shouqicaidan.png" onClick="hidMenu()">&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div class="menu_list">-->

                        <!--<ul>-->

                            <!--<li class="">-->
                                <!--<p class="fuMenu">项目管理</p>-->
                                <!--<img class="xiala" src="/static/image/xiala.png">-->
                                <!--<div class="div1" id="div11">-->
                                    <!--<a href="/project/">-->
                                        <!--<p class="zcd" id="zcd1">-->
                                            <!--<i class="glyphicon glyphicon-th-large"></i>-->
                                            <!--<span>项目管理</span>-->
                                        <!--</p>-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</li>-->

                            <!--<li class="">-->
								<!--<p class="fuMenu">模块管理</p>-->
								<!--<img class="xiala" src="/static/image/xiala.png">-->
								<!--<div class="div1" id="div12">-->
									<!--<a href="/module/">-->
                                        <!--<p class="zcd" id="zcd2">-->
                                            <!--<i class="glyphicon glyphicon-th"></i>-->
                                            <!--<span>模块管理</span>-->
                                        <!--</p>-->
                                    <!--</a>-->
								<!--</div>-->
							<!--</li>-->

							<!--<li class="">-->
								<!--<p class="fuMenu">用例管理</p>-->
								<!--<img class="xiala" src="/static/image/xiala.png">-->
								<!--<div class="div1" id="div13">-->
									<!--<a href="/testcase/ui_function/">-->
                                        <!--<p class="zcd" id="zcd3">-->
                                            <!--<i class="glyphicon glyphicon-briefcase"></i>-->
                                            <!--<span>UI自动化用例</span>-->
                                        <!--</p>-->
                                    <!--</a>-->
									<!--<a href="/testcase/interface_case/">-->
                                        <!--<p class="zcd" id="zcd4">-->
                                            <!--<i class="glyphicon glyphicon-briefcase"></i>-->
                                            <!--<span>接口用例</span>-->
                                        <!--</p>-->
                                    <!--</a>-->
								<!--</div>-->
							<!--</li>-->

							<!--<li class="">-->
								<!--<p class="fuMenu">报告管理</p>-->
								<!--<img class="xiala" src="/static/image/xiala.png">-->
								<!--<div class="div1" id="div14">-->
									<!--<a href="/report/">-->
                                        <!--<p class="zcd" id="zcd5">-->
                                            <!--<i class="glyphicon glyphicon-th-list"></i>-->
                                            <!--<span>报告管理</span>-->
                                        <!--</p>-->
                                    <!--</a>-->
								<!--</div>-->
							<!--</li>-->

                            <!--{% if type_option_admin == "permission_sap" %}-->

                                <!--<li class="">-->
                                    <!--<p class="fuMenu">权限管理</p>-->
                                    <!--<img class="xiala" src="/static/image/xiala.png">-->
                                    <!--<div class="div1" id="div15" style="display: block;">-->
                                        <!--<a href="/permission/">-->
                                            <!--<p class="zcd" id="zcd6">-->
                                                <!--<i class="glyphicon glyphicon-user"></i>-->
                                                <!--<span>用户权限</span>-->
                                            <!--</p>-->
                                        <!--</a>-->
                                        <!--<a href="/permission/class/">-->
                                            <!--<p class="zcd" id="zcd7">-->
                                                <!--<i class="glyphicon glyphicon-inbox"></i>-->
                                                <!--<span>权限分类</span>-->
                                            <!--</p>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</li>-->

                            <!--{% endif %}-->

                            <!--<li class="">-->
								<!--<p class="fuMenu">工具管理</p>-->
								<!--<img class="xiala" src="/static/image/xiala.png">-->
								<!--<div class="div1" id="div16">-->
									<!--<a href="#">-->
                                        <!--<p class="zcd" id="zcd8">-->
                                            <!--<i class="glyphicon glyphicon-th-list"></i>-->
                                            <!--<span>老师开课</span>-->
                                        <!--</p>-->
                                    <!--</a>-->

                                    <!--<a href="#">-->
                                        <!--<p class="zcd" id="zcd9">-->
                                            <!--<i class="glyphicon glyphicon-th-list"></i>-->
                                            <!--<span>学员约课</span>-->
                                        <!--</p>-->
                                    <!--</a>-->

                                    <!--<a href="#">-->
                                        <!--<p class="zcd" id="zcd14">-->
                                            <!--<i class="glyphicon glyphicon-th-list"></i>-->
                                            <!--<span>用例生成</span>-->
                                        <!--</p>-->
                                    <!--</a>-->

                                    <!--<a href="/tool/sale_order/">-->
                                        <!--<p class="zcd" id="zcd10">-->
                                            <!--<i class="glyphicon glyphicon-shopping-cart"></i>-->
                                            <!--<span>售卖下单</span>-->
                                        <!--</p>-->
                                    <!--</a>-->

									<!--<a href="#">-->
                                        <!--<p class="zcd" id="zcd11">-->
                                            <!--<i class="glyphicon glyphicon-th-list"></i>-->
                                            <!--<span>订单退款</span>-->
                                        <!--</p>-->
                                    <!--</a>-->

                                    <!--<a href="/tool/user_info/">-->
                                        <!--<p class="zcd" id="zcd12">-->
                                            <!--<i class="glyphicon glyphicon-user"></i>-->
                                            <!--<span>学员信息</span>-->
                                        <!--</p>-->
                                    <!--</a>-->

								<!--</div>-->
							<!--</li>-->

							<!--<li class="">-->
								<!--<p class="fuMenu">系统设置</p>-->
								<!--<img class="xiala" src="/static/image/xiala.png">-->
								<!--<div class="div1" id="div17">-->
									<!--<a href="#">-->
                                        <!--<p class="zcd" id="zcd13">-->
                                            <!--<i class="glyphicon glyphicon-cog"></i>-->
                                            <!--<span>系统设置</span>-->
                                        <!--</p>-->
                                    <!--</a>-->
								<!--</div>-->
							<!--</li>-->

                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
           <!--</ul>-->
        <!--</div>-->

        <div style="margin-left: 135px;" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <!--用户权限列表-->
            {% if type == "list" %}

            <form class="permission" method="get" name="permission-page" action="search">
                <input type="text" name="search_name" placeholder="用户账户">
                <button class="btn btn-primary" type="submit">搜索用户</button>
            </form>
            <h3 class="sub-header">用户列表
                <!--<button class="btn btn-primary" name="submit" style="float:right;"-->
                        <!--onclick="location.href='/permission/add_permission/'">创建权限</button>-->
            </h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>

                        <tr style="text-align: center">
                            <th>id</th>
                            <th>账号</th>
                            <th>姓名</th>
                            <th>邮件</th>
                            <th>权限分类</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for user in users %}

                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.user_name }}</td>
                            <td>{{ user.real_name }}</td>
                            <td>{{ user.mail }}</td>

                            {% if user.permission_options == 1 %}

                                <td>超级管理员</td>

                            {% elif user.permission_options == 2 %}

                                <td>项目管理员</td>

                            {% elif user.permission_options == 3 %}

                                <td>普通管理员</td>

                            {% else %}

                                <td>普通管理员</td>

                            {% endif %}

                            <td>{{ user.create_time | date:"Y-m-d H:i:s" }}</td>
                            <td>{{ user.update_time | date:"Y-m-d H:i:s" }}</td>
                            <td>
                                <a href="/permission/edit_permission/{{ user.id }}/">
                                    <i class="glyphicon glyphicon-pencil">编辑</i>
                                </a>
                                <!--<a href="/permission/delete_permission/{{ permission.id }}/" style="margin-left:20px;"-->
                                          <!--onclick="return permission_del()">-->
                                    <!--<i class="glyphicon glyphicon-trash">删除</i>-->
                                <!--</a>-->
                                <!--<button type="submit" name="update-data"/>更新</button>-->
                                <!--<button type="submit" name="delete-data">删除</button>-->
                                <!--<button type="submit" name="">查看报告</button>-->
                            </td>

                        </tr>

                        {% endfor %}

                        <!--{% csrf_token %}-->
                    </tbody>
                </table>
                <div style="text-align: center;color:red">{{ error }}</div>
                <div style="text-align: center;color:red">{{ search_error }}</div>
            </div>

            {% endif %}

            <!--用户权限编辑-->
            {% if type == "edit" %}

                {% block permissionEdit %}

                {% endblock %}

            {% endif %}

            <!--分页器-->
            <div style="text-align: center;">
               <nav aria-label="Page navigation">
                  <ul class="pagination">

                      {% if users %}

                          {% if search_name %}

                              <li>
                                  <a href="?search_name={{ search_name }}&page={{ page_num }}" aria-label="Previous">
                                      <span aria-hidden="true">首页</span>
                                  </a>
                              </li>

                          {% else %}

                              <li>
                                  <a href="?page={{ page_num }}" aria-label="Previous">
                                      <span aria-hidden="true">首页</span>
                                  </a>
                              </li>

                          {% endif %}


                          {% if users.has_previous %}

                              {% if search_name %}

                                  <li>
                                      <a href="?search_name={{ search_name }}&page={{ users.previous_page_number}}" aria-label="Previous">
                                          <span aria-hidden="true">&laquo;</span>
                                      </a>
                                  </li>

                              {% else %}

                                  <li>
                                      <a href="?page={{ users.previous_page_number}}" aria-label="Previous">
                                          <span aria-hidden="true">&laquo;</span>
                                      </a>
                                  </li>

                              {% endif %}

                          {% else %}

                              <li class="disabled">
                                      <a href="#" aria-label="Next">
                                          <span aria-hidden="true">&laquo;</span>
                                      </a>
                              </li>

                          {% endif%}


                          {% for p1 in paginator_num_pages_array_ %}

                              {% if users.has_previous %}

                                  {% if search_name %}

                                      {% if p1 == users.number %}

                                          <li class="active">

                                              <a href="?search_name={{ search_name }}&page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% else %}

                                          <li>

                                              <a href="?search_name={{ search_name }}&page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% endif %}


                                  {% else %}

                                      {% if p1 == users.number %}

                                          <li class="active">

                                              <a href="?page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% else %}

                                          <li>

                                              <a href="?page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% endif %}

                                  {% endif %}

                              {% else %}

                                  {% if search_name %}

                                      {% if p1 == users.number %}

                                          <li class="active">

                                              <a href="?search_name={{ search_name }}&page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% else %}

                                          <li>

                                              <a href="?search_name={{ search_name }}&page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% endif %}

                                  {% else %}

                                      {% if p1 == users.number %}

                                          <li class="active">

                                              <a href="?page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% else %}

                                          <li>

                                              <a href="?page={{ p1 }}">
                                                  {{ p1 }}
                                              </a>

                                          </li>

                                      {% endif %}

                                  {% endif %}

                              {% endif %}

                          {% endfor %}


                          {% if users.has_next %}

                              {% if search_name %}

                                  <li>
                                      <a href="?search_name={{ search_name }}&page={{ users.next_page_number}}" aria-label="Previous">
                                          <span aria-hidden="true">&raquo;</span>
                                      </a>
                                  </li>

                              {% else %}

                                  <li>
                                      <a href="?page={{ users.next_page_number}}" aria-label="Previous">
                                          <span aria-hidden="true">&raquo;</span>
                                      </a>
                                  </li>

                              {% endif %}

                          {% else %}

                              <li class="disabled">
                                      <a href="#" aria-label="Next">
                                          <span aria-hidden="true">&raquo;</span>
                                      </a>
                              </li>

                          {% endif%}

                          {% if search_name %}

                              <li>
                                  <a href="?search_name={{ search_name }}&page={{ paginator_num_pages }}" aria-label="Previous">
                                      <span aria-hidden="true">末页</span>
                                  </a>
                             </li>

                          {% else %}

                              <li>
                                  <a href="?page={{ paginator_num_pages }}" aria-label="Previous">
                                      <span aria-hidden="true">末页</span>
                                  </a>
                             </li>

                          {% endif %}

                      {% endif %}

                  </ul>

               </nav>

            </div>

        </div>
    </div>

</div>


<script type="text/javascript">



</script>



{% endblock %}