{% extends "base.html" %}
{% block base %}

<!--修改模态框 出现的位置-->
<style type="text/css">
    .modal.fade.in{
        top:25px;
    }
</style>

{% include "common_top.html"%}


<!--<nav class="navbar navbar-inverse navbar-fixed-top" xmlns="http://www.w3.org/1999/html">-->
    <!--<div class="container-fluid_1">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
        <!--<a class="navbar-brand" href="http://www.51talk.com">CCIMP--51Talk</a>-->
        <!--</div>-->
        <!--<div id="navbar" class="navbar-collapse collapse">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--&lt;!&ndash;<li><a href="#">Settings</a></li>&ndash;&gt;-->
                <!--<li>-->
                    <!--<span class="loginWelcomeName">欢迎,{{ username }}同学！-->
                        <!--<a href="/logout/">-->
                            <!--<span>&nbsp;&nbsp;logout</span>-->
                        <!--</a>-->
                    <!--</span>-->
                <!--</li>-->
            <!--</ul>-->
            <!--&lt;!&ndash;<form class="navbar-form navbar-right">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="text" class="form-control" placeholder="Search..." disabled="disabled">&ndash;&gt;-->
            <!--&lt;!&ndash;</form>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

<div class="container-fluid">
    <div class="row">

        <!--包含common_left.html-->
        {% include "common_left.html"%}

        <!--<div class="col-sm-3 col-md-2 sidebar" style="width:150px;">-->
            <!--<ul class="nav nav-sidebar">-->

                <!--<div class="leftMenu">-->
                    <!--&lt;!&ndash;<div class="topMenu" id="topMenu1">&ndash;&gt;-->
                        <!--&lt;!&ndash;<img class="banshi" src="img/banshidating.png" />&ndash;&gt;-->
                        <!--&lt;!&ndash;<p class="menuTitle">51TALK</p>&ndash;&gt;-->
                        <!--&lt;!&ndash;<img class="changeMenu" src="img/shouqicaidan.png" onClick="hidMenu()">&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div class="menu_list">-->

                        <!--<ul>-->

                            <!--<li class="">-->
                                <!--<p class="fuMenu">项目管理</p>-->
                                <!--<img class="xiala" src="/static/image/xiala.png">-->
                                <!--<div class="div1" id="div11">-->
                                    <!--<a href="/project/">-->
                                        <!--<p class="zcd" id="zcd1">-->
                                            <!--<i class="glyphicon glyphicon-th-large"></i>-->
                                            <!--<span>项目管理</span>-->
                                        <!--</p>-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</li>-->

                            <!--<li class="">-->
								<!--<p class="fuMenu">模块管理</p>-->
								<!--<img class="xiala" src="/static/image/xiala.png">-->
								<!--<div class="div1" id="div12">-->
									<!--<a href="/module/">-->
                                        <!--<p class="zcd" id="zcd2">-->
                                            <!--<i class="glyphicon glyphicon-th"></i>-->
                                            <!--<span>模块管理</span>-->
                                        <!--</p>-->
                                    <!--</a>-->
								<!--</div>-->
							<!--</li>-->

							<!--<li class="">-->
								<!--<p class="fuMenu">用例管理</p>-->
								<!--<img class="xiala" src="/static/image/xiala.png">-->
								<!--<div class="div1" id="div13">-->
									<!--<a href="/testcase/ui_function/">-->
                                        <!--<p class="zcd" id="zcd3">-->
                                            <!--<i class="glyphicon glyphicon-briefcase"></i>-->
                                            <!--<span>UI自动化用例</span>-->
                                        <!--</p>-->
                                    <!--</a>-->
									<!--<a href="/testcase/interface_case/">-->
                                        <!--<p class="zcd" id="zcd4">-->
                                            <!--<i class="glyphicon glyphicon-briefcase"></i>-->
                                            <!--<span>接口用例</span>-->
                                        <!--</p>-->
                                    <!--</a>-->
								<!--</div>-->
							<!--</li>-->

							<!--<li class="">-->
								<!--<p class="fuMenu">报告管理</p>-->
								<!--<img class="xiala" src="/static/image/xiala.png">-->
								<!--<div class="div1" id="div14">-->
									<!--<a href="/report/">-->
                                        <!--<p class="zcd" id="zcd5">-->
                                            <!--<i class="glyphicon glyphicon-th-list"></i>-->
                                            <!--<span>报告管理</span>-->
                                        <!--</p>-->
                                    <!--</a>-->
								<!--</div>-->
							<!--</li>-->

                            <!--{% if type_option_admin == "permission_sap" %}-->

                                <!--<li class="">-->
                                    <!--<p class="fuMenu">权限管理</p>-->
                                    <!--<img class="xiala" src="/static/image/xiala.png">-->
                                    <!--<div class="div1" id="div15">-->
                                        <!--<a href="/permission/">-->
                                            <!--<p class="zcd" id="zcd6" >-->
                                                <!--<i class="glyphicon glyphicon-user"></i>-->
                                                <!--<span>用户权限</span>-->
                                            <!--</p>-->
                                        <!--</a>-->
                                        <!--<a href="/permission/class/">-->
                                            <!--<p class="zcd" id="zcd7">-->
                                                <!--<i class="glyphicon glyphicon-inbox"></i>-->
                                                <!--<span>权限分类</span>-->
                                            <!--</p>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</li>-->

                            <!--{% endif %}-->

                            <!--<li class="">-->
								<!--<p class="fuMenu">工具管理</p>-->
								<!--<img class="xiala" src="/static/image/xiala.png">-->
								<!--<div class="div1" id="div16" style="display: block;">-->
									<!---->
                                    <!--<a href="#">-->

									   <!--<p class="zcd" id="zcd8">-->
                                            <!--<i class="glyphicon glyphicon-th-list"></i>-->
                                            <!--<span>老师开课</span>-->
                                        <!--</p>-->
                                    <!--</a>-->

                                    <!--<a href="#">-->
                                        <!--<p class="zcd" id="zcd9">-->
                                            <!--<i class="glyphicon glyphicon-th-list"></i>-->
                                            <!--<span>学员约课</span>-->
                                        <!--</p>-->
                                    <!--</a>-->

                                    <!--<a href="#">-->
                                        <!--<p class="zcd" id="zcd14">-->
                                            <!--<i class="glyphicon glyphicon-th-list"></i>-->
                                            <!--<span>用例生成</span>-->
                                        <!--</p>-->
                                    <!--</a>-->

                                    <!--<a href="/tool/sale_order/">-->
                                        <!--<p class="zcd" id="zcd10">-->
                                            <!--<i class="glyphicon glyphicon-shopping-cart"></i>-->
                                            <!--<span>售卖下单</span>-->
                                        <!--</p>-->
                                    <!--</a>-->

									<!--<a href="#">-->
                                        <!--<p class="zcd" id="zcd11">-->
                                            <!--<i class="glyphicon glyphicon-th-list"></i>-->
                                            <!--<span>订单退款</span>-->
                                        <!--</p>-->
                                    <!--</a>-->
                                    <!--<a href="/tool/user_info/">-->
                                        <!--<p class="zcd" id="zcd12">-->
                                            <!--<i class="glyphicon glyphicon-user"></i>-->
                                            <!--<span>学员信息</span>-->
                                        <!--</p>-->
                                    <!--</a>-->

								<!--</div>-->
							<!--</li>-->

							<!--<li class="">-->
								<!--<p class="fuMenu">系统设置</p>-->
								<!--<img class="xiala" src="/static/image/xiala.png">-->
								<!--<div class="div1" id="div17">-->
									<!--<a href="#">-->
                                        <!--<p class="zcd" id="zcd13">-->
                                            <!--<i class="glyphicon glyphicon-cog"></i>-->
                                            <!--<span>系统设置</span>-->
                                        <!--</p>-->
                                    <!--</a>-->
								<!--</div>-->
							<!--</li>-->

                        <!--</ul>-->

                    <!--</div>-->
                <!--</div>-->



           <!--</ul>-->
        <!--</div>-->

        <div style="margin-left: 135px;" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h4 style="color: blue;">登录账户信息：
                <!--<button class="btn btn-primary" name="submit" style="float:right;"-->
                        <!--onclick="location.href='/permission/add_permission/'">创建权限</button>-->
            </h4>
            <!--<form class="permission" method="post" name="permission-page" action="search">-->
            <label>请输入登录手机号：</label>
            <input type="text" name="mobile_name" placeholder="手机号码" id="mobile_name">
            <label style="margin-left: 20px;">请输入登录密码：</label>
            <input type="text" name="password_name" placeholder="用户密码" id="password_name">
            <button class="btn btn-success" type="submit" id="userPackageDetail" style="margin-left: 20px;"
                    onclick="return userPackageDetail()">用户套餐详情</button>

            <!--获取当前手机号下所有未完成的订单详情-->
            <button class="btn btn-success" type="submit" id="userOnOrderDetail" data-keyboard="false"
                    data-toggle="modal" data-target="#myModalUserOnOrderDetail"
                    style="margin-left: 20px;"
                    onclick="return userOnOrderDetail()">用户未完成订单</button>
            <!--</form>-->
            <br><br><br>

            <div id="hide_cancle" style="display: none">
            <!--<div id="hide_cancle" class="hide">-->

                <h4 style="color: blue;">获取用户套餐详情：</h4><br>

                <button class="btn btn-success" type="submit" id="saleOrder" style="margin-left: 20px;float: right;"
                        onclick="return saleOrder()">下单</button><br><br>

                <div class="table-responsive">
                    <table class="table table-striped" id="myTablePlaceOrder">
                        <thead>

                            <tr style="text-align: center">
                                <th>序号</th>
                                <th>套餐编号</th>
                                <th>套餐名称</th>
                                <th>次卡数量</th>
                                <th>课时数量</th>
                                <th>套餐价格</th>
                                <th>礼包类型</th>
                                <th>教材礼包</th>
                                <th>套餐类型</th>
                            </tr>

                        </thead>

                        <tbody></tbody>

                    </table>
                </div>
                <br><br><br>

                <h4 style="color: blue;">读取订单数据：</h4><br>

                <div class="table-responsive">
                    <table class="table table-striped" id="myTableGetOrderDetail">
                        <thead>

                            <tr style="text-align: center">
                                <th>序号</th>
                                <th>订单编号</th>
                                <th>套餐编号</th>
                                <th>订单金额</th>
                                <th>付款方式</th>
                                <th>订单类型</th>
                            </tr>

                        </thead>

                        <tbody></tbody>

                    </table>
                </div>
                <button class="btn btn-success" id="processOrder" type="submit" style="margin-left: 20px;float: right;"
                        onclick="return processOrder()">处理订单</button>
            </div>

            <!--查看日志的模态框（Modal）-->
            <div class="modal fade bs-example-modal-lg" id="myModalUserOnOrderDetail" tabindex="1"
                 role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" style="overflow:scroll;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel" style="color:blue;">未完成订单：</h4>
                        </div>
                        <div class="modal-body" id="modalUserOnOrderDetail" style="height:450px;">

                            <div class="table-responsive">
                                <table class="table table-striped" data-toggle="table" data-height="100" id="myTableUserOnOrderDetail">

                                    <thead>

                                        <tr style="text-align: center">
                                            <th>操作</th>
                                            <th>订单编号</th>
                                            <th>套餐编号</th>
                                            <th>套餐价格</th>
                                            <th>套餐类型</th>
                                            <th>订单状态</th>
                                        </tr>

                                    </thead>

                                    <tbody style="height:500px;"></tbody>

                                </table>
                            </div>

                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-primary"
                                    id="processOnOrder" onclick="return processOnOrder()" >处理未完成订单</button>

                            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>

                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

<script>


</script>


{% endblock %}