{% extends "base.html" %}
{% block base %}

<style>

    .op{
        text-align: center;
        width:25px;

    }

    .op2{
        text-align: center;

    }

    .modal.fade.in{
        top:5%;
    }

</style>

{% load static %}

{% include "common_top.html" %}
<div class="container-fluid">

    <div class="row">

        <!--包含common_left.html-->
        {% include "common_left.html"%}

        <div style="margin-left: 135px;width: 1500px;" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h4 style="color: blue;">51Talk用户信息查询：</h4>

            <br>

            <!--2020-07-04：郭靖修改-->
            <button class="btn btn-info" type="submit" id="userRegister" data-toggle="modal"
                    data-target="#myRolecontent"
                    onclick="return userRegister()">测试账号注册</button>

            <!--2020-07-04：郭靖修改-->
            <div style="margin-top: 30px;">

                <label style="color: blue;">测试账号注册：</label>

                <label>手机号：</label>
                <input type="text" name="new_mobile" placeholder="请输入手机号码" id="new_user_mobile">

                <label>设置密码：</label>
                <input type="text" name="new_password" placeholder="请设置密码，至少6位字符" id="new_user_password">

                <label>推荐人手机几号：</label>
                <input type="text" name="recommen_mobile" placeholder="没有可不填" id="recommen_mobile">

            </div>

            <hr width=80% style="border:double #2e6da4;">

            <button class="btn btn-primary" type="submit" id="userInfoDetail"
                    onclick="return userInfoDetail()">用户账户查询</button>

            <!--2020-10-21：张波修改--换新模块展示，暂时屏蔽>
            <!--<button class="btn btn-danger" type="submit" id="appointRecord"-->
                    <!--data-keyboard="false" data-toggle="modal" data-target="#myModalAppointRecord"-->
                    <!--style="margin-left: 20px;"-->
                    <!--onclick="userAppointRecord()">约课记录查询</button>-->

            <div style="margin-top: 30px;">

                <label style="color: blue;">用户手机：</label>
                <input type="text" name="user_mobile" placeholder="手机号码" id="user_mobile" style="width: 100px;">

            </div>

            <div id="hide_cancle" style="display: none;">

                <br>

                <div class="table-responsive" style="font-size:14px;">
                    <table class="table table-striped table-hover table-condensed table-bo" id="myTableUserInfo"
                           style="
                           table-layout: fixed;word-break: break-all;word-wrap: break-word;
                           vertical-align: middle;text-align:center;">
                        <thead>
                            <tr>
                                <th class="op">id</th>
                                <th class="op">姓名</th>
                                <th class="op">别名</th>
                                <th class="op">手机号</th>
                                <th class="op">体验课状态</th>
                                <th class="op">付费状态</th>
                                <th class="op">初始等级</th>
                                <th class="op">当前等级</th>
                                <th class="op">推荐人</th>
                                <th class="op">城市</th>
                                <th class="op" style="width: 50px;">当前财富</th>
                                <th class="op" style="width: 50px;">未开启财富</th>
                            </tr>

                        </thead>

                        <tbody></tbody>

                    </table>

                </div>

            </div>

            <br>

            <div>
                <!--郭靖-->
                <label style="color: blue;">短信内容：</label>
                <select id ="contentType" name="content_mode" style="width: 100px;">
                    <option value='message'> 短信验证码 </option>
                    <option value='allContent'> 短信内容 </option>
                </select>
                <label style="display: none;" id="search_infoTitle">搜索内容：</label>
                <input style="display: none;" id="search_infoContent" type="text" name="search_content" placeholder="搜索内容" >
                <button class="btn btn-warning" type="submit" id="userSmsConnent"
                        data-keyboard="false" data-toggle="modal" data-target="#myModalUserSmsContent"
                        style="margin-left: 30px;"
                        onclick="userSmsConnent()">手机短信查询</button>
            </div>

            <div>
                <label style="margin-top: 30px;color: blue;">SSO身份：</label>
                <select class="sso_identity" name="sso_identity" id="sso_identity"
                        style="width: 100px;">
                    <option value="0">请选择</option>
                    <option value="11">青少1对1</option>
                    <option value="12">美小1对1</option>
                    <option value="14">成人1对1</option>
                    <option value="15">达拉斯</option>
                    <option value="17">美小达拉斯</option>
                    <option value="11,18">菲教+班课</option>
                    <option value="12,18">美教+班课</option>
                </select>

                <button class="btn btn-danger" type="submit"
                        style="margin-left: 30px;"
                        name="ssoIdentity"
                        id="ssoIdentity"
                        onclick="return ssoIdentity()">修改SSO身份
                </button>

            </div>

            <p style="color:blue;margin-top: 5px;">备注：sso身份修改报异常，请从新登录本地crm后台，获取用户最新PHPSESSID信息，
                                                  将PHPSESSID的值复制到文件“ssoIdentityPhpSessidConfig”中</p>

            <div style="margin-top: 30px;">
                <label style="color: blue;">用户昵称：</label>
                <input type="text" name="nick_name" id="nick_name" style="width: 100px;">
                <button class="btn btn-success" type="submit"
                        style="margin-left: 30px;"
                        id="userNickName"
                        onclick="return userNickName()">修改用户昵称
                </button>
            </div>

            <div>
                <label style="margin-top: 30px;color: blue;">账户状态：</label>
                <select class="account_status" name="account_status" id="account_status"
                        style="width: 100px;">
                    <option value="0">请选择</option>
                    <option value="freeze">freeze</option>
                    <option value="on">on</option>
                </select>

                <button class="btn btn-info" type="submit"
                        style="margin-left: 30px;"
                        name="accountStatus"
                        id="accountStatus"
                        onclick="return accountStatus()">修改账户状态
                </button>

            </div>

            <div style="margin-top: 30px;">
                <label style="color: blue;">手机验证：</label>
                <select class="is_check" name="is_check" id="is_check"
                        style="width: 100px;">
                    <option value="0">请选择</option>
                    <option value="y">已验证</option>
                    <option value="n">未验证</option>
                </select>

                <button class="btn btn-danger" type="submit"
                        style="margin-left: 30px;"
                        name="mobileStatus"
                        id="mobileStatus"
                        onclick="return mobileStatus()">修改手机验证
                </button>
            </div>

            <div style="margin-top: 30px;">
                <label style="color: blue;">用户身份：</label>
                <select class="is_check" name="is_buy" id="is_buy"
                        style="width: 100px;">
                    <option value="0">请选择</option>
                    <option value="free">体验用户</option>
                    <option value="buy">付费用户</option>
                </select>

                <button class="btn btn-success" type="submit"
                        style="margin-left: 30px;"
                        name="userIdentity"
                        id="userIdentity"
                        onclick="return userIdentity()">修改用户身份
                </button>
            </div>

            <div style="margin-top: 30px;">

                <!--2020-07-05：一期注释-->
                <!--<label style="color: blue;">课程状态：</label>-->
                <!--<select class="course_status" name="course_status" id="course_status" style="width: 100px;">-->
                    <!--<option value="0">请选择</option>-->
                    <!--<option value="end">已完成</option>-->
                    <!--<option value="s_absent">学员缺席</option>-->
                    <!--<option value="t_absent">老师缺席</option>-->
                <!--</select>-->
                <!--<button class="btn btn-success" type="submit"-->
                        <!--style="margin-left: 30px;"-->
                        <!--name="courseStatus"-->
                        <!--id="courseStatus"-->
                        <!--onclick="return courseStatus()">修改课程状态-->
                <!--</button>-->

            </div>

            <!--2020-08-19：张波修改-->
            <div style="margin-top: 30px;">
                <label style="color: blue;">H5标签：</label>
                <select class="h5_label" name="h5_label" id="h5_label"
                        style="width: 100px;margin-left: 10px;">
                    <option value="-1">请选择</option>
                    <option value="0">普通标签</option>
                    <option value="1">H5标签</option>
                    <option value="2">巧虎标签</option>
                </select>

                <button class="btn btn-warning" type="submit"
                        style="margin-left: 30px;"
                        id="ssoH5"
                        onclick="return ssoH5()">学员标签(H5)
                </button>
            </div>

            <hr width=80% style="border:double #2e6da4;">


            <p style="color:red;margin-top: 50px;">以下功能暂未开放，敬请期待。。。</p>
            <div style="margin-top: 30px;">
                <label style="color: blue;">定级设置：</label>
                <select class="grade_setting" name="grade_setting" id="grade_setting">
                    <option value="0">请选择</option>
                    <option value="1">初始等级</option>
                    <option value="2">当前等级</option>
                </select>

                <label style="margin-left:30px;color: blue;">角色类型：</label>
                <select class="role_type" name="role_type" id="level_type">
                    <option value="0">请选择角色类型</option>
                    <option value="11">菲小</option>
                    <option value="14">成人</option>
                    <option value="12">美小</option>
                </select>

                <label style="margin-left:30px;color: blue;">账户水平分类：</label>
                <select class="top_level" name="top_level" id="top_level">
                    <option value="0">请选择分类</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Elementary">Elementary</option>
                    <option value="Intermediate">Intermediate</option>
                </select>

                <select style = "margin-left:10px;" class="level" name="level" id="level" style="display:inline">
                    <option value="0">请选择等级</option>
                </select>

                <button class="btn btn-success" type="submit" disabled="disabled"
                        style="margin-left: 30px;"
                        name="accountLevel"
                        id="accountLevel"
                        onclick="return userLevel()">修改账户等级
                </button>
            </div>

            <br>

            <!--查看短信模态框（Modal）-->
            <div class="modal fade bs-example-modal-lg" id="myModalUserSmsContent" tabindex="1"
                 role="dialog" aria-labelledby="myModalUserSms" aria-hidden="true">
                <div class="modal-dialog modal-lg" style="overflow:scroll;width:900px;">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                            </button>
                            <h4 class="modal-title" id="myModalSmsLabel" style="color:blue;">短信内容：</h4>

                        </div>

                        <div class="modal-body" id="modalUserSmsContent" style="height:300px;">

                            <div class="table-responsive">

                                <p style="color:blue">短信验证码：</p>
                                <textarea class="smsCode" id="sms_code" name="sms_code" style="width: 400px;"></textarea>

                                <br><br>

                                <p style="color:blue">注册后短信内容：</p>
                                <textarea class="smsContent" rows="3" id="sms_content" name="sms_content" style="width: 700px;height: 180px;"></textarea>

                            </div>

                        </div>

                        <div class="modal-footer">

                            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>

                        </div>

                    </div>
                </div>
            </div>

            <!--查看约课记录模态框（Modal）-->
            <!--<div class="modal fade bs-example-modal-lg" id="myModalAppointRecord" tabindex="1"-->
                 <!--role="dialog" aria-labelledby="AppointRecord" aria-hidden="true">-->
                <!--<div class="modal-dialog modal-lg" style="overflow:scroll;width: 1000px;">-->
                    <!--<div class="modal-content">-->

                        <!--<div class="modal-header">-->
                            <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;-->
                            <!--</button>-->
                            <!--<h4 class="modal-title" id="myModalAppointRecordLabel" style="color:blue;">约课记录：</h4>-->

                        <!--</div>-->

                        <!--<div>-->
                            <!--<label style="margin-left: 30px;">课程状态</label>-->
                            <!--<select class="course_status" name="course_status" id="course_status"-->
                                    <!--style="margin-left: 10px;margin-top: 20px;">-->
                                <!--<option value="0">请选择</option>-->
                                <!--<option value="end">已完成</option>-->
                                <!--<option value="s_absent">学员缺席</option>-->
                                <!--<option value="t_absent">老师缺席</option>-->
                                <!--<option value="cancel">取消课程</option>-->
                            <!--</select>-->
                            <!--<button class="btn btn-sm btn-success" style="margin-left: 20px;" type="submit"-->
                                    <!--id="appointRecordEdit" onclick="appointRecordEdit()">修改课程状态</button>-->
                        <!--</div>-->

                        <!--<div class="modal-body" id="modalAppointRecordsTable" style="height:500px;">-->

                            <!--<div class="table-responsive">-->

                                <!--<table class="table table-striped table-hover table-condensed table-bordered" id="myTableOpenClassInfo"-->
                                       <!--style="-->
                                       <!--table-layout: fixed;word-break: break-all;word-wrap: break-word;-->
                                       <!--vertical-align: middle;text-align:center;margin-top: 20px;-->
                                       <!--font-size: 14px;">-->
                                    <!--<thead>-->
                                        <!--<tr>-->
                                            <!--<th class="op2" style="width: 5px;">序号</th>-->
                                            <!--<th class="op2" style="width: 5px;">约课ID</th>-->
                                            <!--<th class="op2" style="width: 5px;">老师ID</th>-->
                                            <!--<th class="op2" style="width: 12px;">学员ID</th>-->
                                            <!--<th class="op2" style="width: 5px;">课程ID</th>-->
                                            <!--<th class="op2" style="width: 5px;">约课类型</th>-->
                                            <!--<th class="op2" style="width: 5px;">课程状态</th>-->
                                            <!--<th class="op2" style="width: 20px;">开始时间</th>-->
                                            <!--<th class="op2" style="width: 20px;">结束时间</th>-->
                                        <!--</tr>-->

                                    <!--</thead>-->

                                    <!--<tbody>-->

                                    <!--</tbody>-->

                                <!--</table>-->

                                <!--<br><br>-->

                            <!--</div>-->

                        <!--</div>-->

                        <!--<div class="modal-footer">-->

                            <!--<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>-->

                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--选择用户身份模态框（Modal）-->
            <div class="modal fade bs-example-modal-lg" id="myRolecontent" tabindex="1"
                             role="dialog" aria-labelledby="myRoleinfo" aria-hidden="true">
                <div class="modal-dialog modal-lg" style="overflow:scroll;width:900px;">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                            </button>
                            <h4 class="modal-title" id="myRoleLabel" style="color:blue;">注册用户身份选择：</h4>

                        </div>

                        <div class="modal-body" id="userAccountRoleChoose" style="height:300px;">

                            <div class="table-responsive" style="width: 280px;height: 50px">
                                <select class="teenagersRole" id="teenagers_Role" >
                                    <option value = "teenagers001" selected="selected">幼儿园->未上幼儿园->没学过英语</option>
                                    <option value = "teenagers002">幼儿园->未上幼儿园->会说简单单词</option>
                                    <option value = "teenagers003">幼儿园->幼儿园小班->能说完整句子</option>
                                    <option value = "teenagers004">幼儿园->幼儿园中班->能流利交流</option>
                                    <option value = "teenagers005">幼儿园->幼儿园大班->没学过英语</option>
                                    <option value = "teenagers006">小学生->一年级->没学过英语</option>
                                    <option value = "teenagers007">初中生->初二->课外辅导一年</option>
                                    <option value = "teenagers008">高中生->出国留学->能说完整句子</option>
                                    <option value = "teenagers009">大学生->毕业生找工作->会说简单单词</option>
                                    <option value = "teenagers010">上班族->综合英语能力->没学过英语</option>
                                </select>

                            </div>

                        </div>

                        <div class="modal-footer">

                            <button type="button" class="btn btn-primary"  id="roleconfirm" data-dismiss="modal"  onclick="return userLevelconfirm()">确认</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


<script type="text/javascript">

////    不起作用
//    $("#userRegister").click(function ()
//    {        $('#myRolecontent').modal('hide');
//    );

//    $(function() {
//        $('#myRolecontent').on('hide.bs.modal',
//        function(){
//               alert('嘿，我听说您喜欢模态框...');
//        })
//    });

</script>



{% endblock %}