{% extends "base.html" %}
{% block base %}

<style>
    .op{
        text-align: center;
        width:25px;

    }

    .modal.fade.in{
        top:15%;
    }
</style>


{% include "common_top.html" %}

<div class="container-fluid">

    <div class="row">

        <!--包含common_left.html-->
        {% include "common_left.html"%}

        <div style="margin-left: 135px;width: 1500px;" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h4 style="color: blue;">51Talk用户信息查询：</h4>
            <br>

            <button class="btn btn-success" type="submit" id="userInfoDetail"
                    onclick="return userInfoDetail()">用户账户查询</button>

            <button class="btn btn-success" type="submit" id="userSmsConnent" data-keyboard="false"
                    data-toggle="modal" data-target="#myModalUserSmsContent"
                    style="margin-left: 20px;"
                    onclick="userSmsConnent()">手机短信查询</button>



            <br>

            <div style="margin-top: 30px;">
                <label style="color: blue;">用户手机号：</label>
                <input type="text" name="user_mobile" placeholder="手机号码" id="user_mobile">
            </div>

            <div id="hide_cancle" style="display: none;">

                <br>

                <div class="table-responsive" style="font-size:14px;">
                    <table class="table table-striped table-hover table-condensed table-bo" id="myTableUserInfo"
                           style="
                           table-layout: fixed;word-break: break-all;word-wrap: break-word;
                           vertical-align: middle;text-align:center;">
                        <thead>
                            <tr>
                                <th class="op">id</th>
                                <th class="op">姓名</th>
                                <th class="op">别名</th>
                                <th class="op">手机号</th>
                                <th class="op">体验课状态</th>
                                <th class="op">付费状态</th>
                                <th class="op">初始等级</th>
                                <th class="op">当前等级</th>
                                <th class="op">推荐人</th>
                                <th class="op">城市</th>
                                <th class="op" style="width: 50px;">当前财富</th>
                                <th class="op" style="width: 50px;">未开启财富</th>
                            </tr>

                        </thead>

                        <tbody></tbody>

                    </table>

                </div>

            </div>

            <div style="margin-top: 30px;">
                <label style="color: blue;">用户昵称：</label>
                <input type="text" name="nick_name" id="nick_name">
                <button class="btn btn-success" type="submit"
                        style="margin-left: 18px;"
                        id="userNickName"
                        onclick="return userNickName()">修改用户昵称
                </button>
            </div>

            <div>
                <label style="margin-top: 30px;color: blue;">账户状态：</label>
                <select class="account_status" name="account_status" id="account_status"
                        style="width: 100px;">
                    <option value="0">请选择</option>
                    <option value="Freeze">Freeze</option>
                    <option value="on">on</option>
                </select>

                <button class="btn btn-success" type="submit"
                        style="margin-left: 30px;"
                        name="accountStatus"
                        id="accountStatus"
                        onclick="return accountStatus()">修改账户状态
                </button>

            </div>

            <div style="margin-top: 30px;">
                <label style="color: blue;">手机验证：</label>
                <select class="is_check" name="is_check" id="is_check"
                        style="width: 100px;">
                    <option value="0">请选择</option>
                    <option value="y">已验证</option>
                    <option value="n">未验证</option>
                </select>

                <button class="btn btn-success" type="submit"
                        style="margin-left: 30px;"
                        name="mobileStatus"
                        id="mobileStatus"
                        onclick="return mobileStatus()">修改手机验证
                </button>
            </div>

            <div style="margin-top: 30px;">
                <label style="color: blue;">用户身份：</label>
                <select class="is_check" name="is_buy" id="is_buy"
                        style="width: 100px;">
                    <option value="0">请选择</option>
                    <option value="free">体验用户</option>
                    <option value="buy">付费用户</option>
                </select>

                <button class="btn btn-success" type="submit"
                        style="margin-left: 30px;"
                        name="userIdentity"
                        id="userIdentity"
                        onclick="return userIdentity()">修改用户身份
                </button>
            </div>

            <p style="color:red;margin-top: 50px;">以下功能暂未开放，敬请期待。。。</p>
            <div style="margin-top: 30px;">
                <label style="color: blue;">定级设置：</label>
                <select class="grade_setting" name="grade_setting" id="grade_setting">
                    <option value="0">请选择</option>
                    <option value="1">初始等级</option>
                    <option value="2">当前等级</option>
                </select>

                <label style="margin-left:30px;color: blue;">角色类型：</label>
                <select class="role_type" name="role_type" id="level_type">
                    <option value="0">请选择角色类型</option>
                    <option value="11">菲小</option>
                    <option value="14">成人</option>
                    <option value="12">美小</option>
                </select>

                <label style="margin-left:30px;color: blue;">账户水平分类：</label>
                <select class="top_level" name="top_level" id="top_level">
                    <option value="0">请选择分类</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Elementary">Elementary</option>
                    <option value="Intermediate">Intermediate</option>
                </select>

                <select style = "margin-left:10px;" class="level" name="level" id="level" style="display:inline">
                    <option value="0">请选择等级</option>
                </select>

                <button class="btn btn-success" type="submit" disabled="disabled"
                        style="margin-left: 30px;"
                        name="accountLevel"
                        id="accountLevel"
                        onclick="return userLevel()">修改账户等级
                </button>
            </div>

            <br>

            <!--查看日志的模态框（Modal）-->
            <div class="modal fade bs-example-modal-lg" id="myModalUserSmsContent" tabindex="1"
                 role="dialog" aria-labelledby="myModalUserSms" aria-hidden="true">
                <div class="modal-dialog modal-lg" style="overflow:scroll;width:800px;">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                            </button>
                            <h4 class="modal-title" id="myModalSmsLabel" style="color:blue;">短信内容：</h4>

                        </div>

                        <div class="modal-body" id="modalUserSmsContent" style="height:300px;">

                            <div class="table-responsive">

                                <p style="color:blue">短信验证码：</p>
                                <textarea class="smsCode" id="sms_code" name="sms_code" style="width: 400px;"></textarea>

                                <br><br>

                                <p style="color:blue">注册后短信内容：</p>
                                <textarea class="smsContent" rows="3" id="sms_content" name="sms_content" style="width: 700px;"></textarea>

                            </div>

                        </div>

                        <div class="modal-footer">

                            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">


</script>



{% endblock %}