<div class="col-sm-3 col-md-2 sidebar" style="width:150px;">
    <ul class="nav nav-sidebar">
        <div class="leftMenu">
            <!--<div class="topMenu" id="topMenu1">-->
                <!--<img class="banshi" src="img/banshidating.png" />-->
                <!--<p class="menuTitle">51TALK</p>-->
                <!--<img class="changeMenu" src="img/shouqicaidan.png" onClick="hidMenu()">-->
            <!--</div>-->
            <div class="menu_list">
                <ul>

                    {% if aTag_ == "1" %}

                        {% if type_option_admin == "permission_sap" or type_option_project == "permission_sap_pp" %}

                            <li class="">
                                <p class="fuMenu">项目管理</p>
                                <img class="xiala" src="/static/image/xiala.png">
                                <div class="div1" id="div11" style="display: block;">
                                    <a href="/project/">
                                        <p class="zcd" id="zcd1">
                                            <i class="glyphicon glyphicon-th-large"></i>
                                            <span>项目管理</span>
                                        </p>
                                    </a>
                                </div>
                            </li>

                        {% endif %}

                    {% else %}

                        <li class="">
                            <p class="fuMenu">项目管理</p>
                            <img class="xiala" src="/static/image/xiala.png">
                            <div class="div1" id="div18">
                                <a href="/project/">
                                    <p class="zcd" id="zcd15">
                                        <i class="glyphicon glyphicon-th-large"></i>
                                        <span>项目管理</span>
                                    </p>
                                </a>
                            </div>
                        </li>

                    {% endif %}

                    <li class="">
                        <p class="fuMenu">模块管理</p>
                        <img class="xiala" src="/static/image/xiala.png">
                        <div class="div1" id="div12">
                            <a href="/module/">
                                <p class="zcd" id="zcd2">
                                    <i class="glyphicon glyphicon-th"></i>
                                    <span>模块管理</span>
                                </p>
                            </a>
                        </div>
                    </li>

                    <li class="">
                        <p class="fuMenu">用例管理</p>
                        <img class="xiala" src="/static/image/xiala.png">
                        <div class="div1" id="div13">
                            <a href="/testcase/ui_function/">
                                <p class="zcd" id="zcd3">
                                    <i class="glyphicon glyphicon-briefcase"></i>
                                    <span>UI自动化用例</span>
                                </p>
                            </a>
                            <a href="/testcase/interface_case/">
                                <p class="zcd" id="zcd4">
                                    <i class="glyphicon glyphicon-briefcase"></i>
                                    <span>接口用例</span>
                                </p>
                            </a>
                        </div>
                    </li>

                    <li class="">
                        <p class="fuMenu">报告管理</p>
                        <img class="xiala" src="/static/image/xiala.png">
                        <div class="div1" id="div14">
                            <a href="/report/">
                                <p class="zcd" id="zcd5">
                                    <i class="glyphicon glyphicon-th-list"></i>
                                    <span>报告管理</span>
                                </p>
                            </a>
                        </div>
                    </li>

                    {% if aTag_ == "0" %}

                        {% if type_option_admin == "permission_sap" %}

                            <li class="">
                                <p class="fuMenu">权限管理</p>
                                <img class="xiala" src="/static/image/xiala.png">
                                <div class="div1" id="div15" style="display:block">
                                    <a href="/permission/">
                                        <p class="zcd" id="zcd6" >
                                            <i class="glyphicon glyphicon-user"></i>
                                            <span>用户权限</span>
                                        </p>
                                    </a>
                                    <a href="/permission/class/">
                                        <p class="zcd" id="zcd7">
                                            <i class="glyphicon glyphicon-inbox"></i>
                                            <span>权限分类</span>
                                        </p>
                                    </a>
                                </div>
                            </li>

                        {% endif %}

                    {% else %}

                        {% if type_option_admin == "permission_sap" %}

                            <li class="">
                                <p class="fuMenu">权限管理</p>
                                <img class="xiala" src="/static/image/xiala.png">
                                <div class="div1" id="div19">
                                    <a href="/permission/">
                                        <p class="zcd" id="zcd16" >
                                            <i class="glyphicon glyphicon-user"></i>
                                            <span>用户权限</span>
                                        </p>
                                    </a>
                                    <a href="/permission/class/">
                                        <p class="zcd" id="zcd17">
                                            <i class="glyphicon glyphicon-inbox"></i>
                                            <span>权限分类</span>
                                        </p>
                                    </a>
                                </div>
                            </li>

                        {% endif %}

                    {% endif %}

                    {% if aTag_ == "2" %}

                        <li class="">
                            <p class="fuMenu">工具管理</p>
                            <img class="xiala" src="/static/image/xiala.png">
                            <div class="div1" id="div16" style="display: block;">
                                <a href="#">
                                    <p class="zcd" id="zcd8">
                                        <i class="glyphicon glyphicon-th-list"></i>
                                        <span>老师开课</span>
                                    </p>
                                </a>

                                <a href="#">
                                    <p class="zcd" id="zcd9">
                                        <i class="glyphicon glyphicon-th-list"></i>
                                        <span>学员约课</span>
                                    </p>
                                </a>

                                <a href="#">
                                    <p class="zcd" id="zcd14">
                                        <i class="glyphicon glyphicon-th-list"></i>
                                        <span>用例生成</span>
                                    </p>
                                </a>

                                <a href="/tool/sale_order/">
                                    <p class="zcd" id="zcd10">
                                        <i class="glyphicon glyphicon-shopping-cart"></i>
                                        <span>售卖下单</span>
                                    </p>
                                </a>

                                <a href="#">
                                    <p class="zcd" id="zcd11">
                                        <i class="glyphicon glyphicon-th-list"></i>
                                        <span>订单退款</span>
                                    </p>
                                </a>

                                <a href="/tool/user_info/">
                                    <p class="zcd" id="zcd12">
                                        <i class="glyphicon glyphicon-user"></i>
                                        <span>学员信息</span>
                                    </p>
                                </a>
                            </div>
                        </li>

                    {% else %}

                        <li class="">
                            <p class="fuMenu">工具管理</p>
                            <img class="xiala" src="/static/image/xiala.png">
                            <div class="div1" id="div20">
                                <a href="#">
                                    <p class="zcd" id="zcd18">
                                        <i class="glyphicon glyphicon-th-list"></i>
                                        <span>老师开课</span>
                                    </p>
                                </a>

                                <a href="#">
                                    <p class="zcd" id="zcd19">
                                        <i class="glyphicon glyphicon-th-list"></i>
                                        <span>学员约课</span>
                                    </p>
                                </a>

                                <a href="#">
                                    <p class="zcd" id="zcd20">
                                        <i class="glyphicon glyphicon-th-list"></i>
                                        <span>用例生成</span>
                                    </p>
                                </a>

                                <a href="/tool/sale_order/">
                                    <p class="zcd" id="zcd21">
                                        <i class="glyphicon glyphicon-shopping-cart"></i>
                                        <span>售卖下单</span>
                                    </p>
                                </a>

                                <a href="#">
                                    <p class="zcd" id="zcd22">
                                        <i class="glyphicon glyphicon-th-list"></i>
                                        <span>订单退款</span>
                                    </p>
                                </a>

                                <a href="/tool/user_info/">
                                    <p class="zcd" id="zcd23">
                                        <i class="glyphicon glyphicon-user"></i>
                                        <span>学员信息</span>
                                    </p>
                                </a>
                            </div>
                        </li>

                    {% endif %}


                    <li class="">
                        <p class="fuMenu">系统设置</p>
                        <img class="xiala" src="/static/image/xiala.png">
                        <div class="div1" id="div17">
                            <a href="#">
                                <p class="zcd" id="zcd13">
                                    <i class="glyphicon glyphicon-cog"></i>
                                    <span>系统设置</span>
                                </p>
                            </a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </ul>
</div>